.carousel{
	overflow: hidden;
	height: 300px;
	position: relative;
	max-width: 900px;
	width: 100%;
	margin: 0 auto;
	margin-bottom: 50px;
}


.slide{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	display: block;
	height: 100%;
	opacity: 0;
	-webkit-transform: translateX(0%);
	
}


/* DEFAULT */
.active{
	opacity: 1;
	z-index: 1;
}

.left .next-slide{
	opacity: 1;
}

.right .prev-slide{
	opacity: 1;
}



/* SLIDE */
.right .slide.effect-slide.prev-slide{
	-webkit-animation: slide-out-to-left;
}

.right .slide.effect-slide.active{
	-webkit-animation: slide-in-from-right;
}

.left .slide.effect-slide.next-slide{
	-webkit-animation: slide-out-to-right;
}

.left .slide.effect-slide.active{
	-webkit-animation: slide-in-from-left;
}


@-webkit-keyframes slide-out-to-left{
	100%{ -webkit-transform: translateX(-100%); }
}

@-webkit-keyframes slide-out-to-right{
	100%{ -webkit-transform: translateX(100%); }
}

@-webkit-keyframes slide-in-from-right{
	0%{ -webkit-transform: translateX(100%); }
	100%{ -webkit-transform: translateX(0%); }
}

@-webkit-keyframes slide-in-from-left{
	0%{ -webkit-transform: translateX(-100%); }
	100%{ -webkit-transform: translateX(0%); }
}



/* FADE */
.slide.effect-fade.prev-slide,
.slide.effect-fade.next-slide{
	-webkit-animation: fadeOut forwards;
}

.slide.effect-fade.active{
	-webkit-animation: fadeIn forwards;
	opacity: 0;
}


@-webkit-keyframes fadeIn{
	100%{
		opacity: 1;
	}
}
@-webkit-keyframes fadeOut{
	100%{
		opacity: 0;
	}
}



/* SLIDE-VERTICAL */
.right .slide.effect-slide-vertical.prev-slide{
	-webkit-animation: slide-out-to-bottom;
}

.left .slide.effect-slide-vertical.next-slide{
	-webkit-animation: slide-out-to-top;
}

.right .slide.effect-slide-vertical.active{
	-webkit-animation: slide-in-from-top forwards;
}

.left .slide.effect-slide-vertical.active{
	-webkit-animation: slide-in-from-bottom forwards;
}

@-webkit-keyframes slide-out-to-bottom{
	100%{ -webkit-transform: translateY(100%); }
}

@-webkit-keyframes slide-out-to-top{
	100%{ -webkit-transform: translateY(-100%); }
}

@-webkit-keyframes slide-in-from-top{
	0%{ -webkit-transform: translateY(-100%); }
	100%{ -webkit-transform: translateY(0%); }
}

@-webkit-keyframes slide-in-from-bottom{
	0%{ -webkit-transform: translateY(100%); }
	100%{ -webkit-transform: translateY(0%);}
}




/* BACKGROUND COLORS */
.slide:nth-child(1){
	background-size: cover;
	background-image: url('images/acme.png');
}

.slide:nth-child(2){
	background-color: blue;
}

.slide:nth-child(3){
	background-color: green;
}

.slide:nth-child(4){
	background-color: yellow;
}


/* BUTTONS */

.prev,
.next{
	z-index: 10;
	position: absolute;
	top: 50%;
	margin-top: -25px;
	cursor: pointer;
	background: #000;
	border-radius: 50%;
	height: 50px;
	width: 50px;
}


.prev:after,
.next:after{
	content: "<";
	display: block;
	position: absolute;
	top: 40%;	
	text-align: center;
	width: 50px;
	color: #fff;
	height: 50px;
	
}

.next:after{
	content: ">";
}

.prev{
	left: 2%;
}

.next{
	right: 2%;
}





